name: Deploy UI

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: notes-ui
  IMAGE_TAG: latest

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        env:
          VITE_API_BASE_URL: ${{ vars.VITE_API_BASE_URL }}
        run: |
          docker build \
            --build-arg VITE_API_BASE_URL=$VITE_API_BASE_URL \
            -t $ECR_REPOSITORY:$IMAGE_TAG .

      - name: Tag image
        run: |
          docker tag $ECR_REPOSITORY:$IMAGE_TAG \
          728827483373.dkr.ecr.ap-south-1.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Push image to ECR
        run: |
          docker push 728827483373.dkr.ecr.ap-south-1.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region ap-south-1 | \
            docker login --username AWS --password-stdin \
            728827483373.dkr.ecr.ap-south-1.amazonaws.com

            docker pull 728827483373.dkr.ecr.ap-south-1.amazonaws.com/notes-ui:latest

            docker stop notes-ui || true
            docker rm notes-ui || true

            docker run -d \
              --restart unless-stopped \
              -p 127.0.0.1:3001:80 \
              --name notes-ui \
              728827483373.dkr.ecr.ap-south-1.amazonaws.com/notes-ui:latest
